/* app global css */
@font-face {
    font-family: Roboto;
    src: url('../assets/font/Roboto-Regular.ttf');
}

.height-70 {
    height: 70px;
}

.menu-left-box {
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px
}
.menu-left-item:hover{
    border-left: 3px solid rgb(247, 86, 11);
    background-color: #f5f5f5;
}
.menu-left-item.active{
    border-left: 3px solid rgb(247, 86, 11);
    background-color: #e0dede;
}